.tools{
    padding: 1em 1em;
    background-color: var(--darkerOrange, orange);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counter{
    &__header{
        margin: 1em 1em 1em 0em;
    }

    &__paragraph{
        margin-left: .5em;
    }
}