.tools{
    padding: 1em 1em;
    background-color: var(--darkerOrange, orange);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.counter{
    margin: 1em;
}