.books-table{
    background-color: var(--darkerGrey, grey);
    color: var(--whiteText, white);
    padding: 10px 10px 10px 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__paragraph{
        margin-top: 1em;
    }

    &__button{
        @extend .contact-form__button;
        width: auto;
        &:hover{
            font-weight: unset;
        }
        margin: 5px;
    }
}


.table{
    display: block;
    overflow-x: auto;
    border: none;

    &::-webkit-scrollbar-track{
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar{
        height: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--darkerOrange, orange);
    }
}

.table-header__item{
    font-size: 1.2em;
    padding: 15px;
}

.table-body{
    &__row{
        &:nth-child(odd){
            background-color: var(--grey, grey);
            border-color:  var(--grey, grey);
        }
    }
    
    &__item{
        padding: 8px;
        text-align: center;
    }
}

.header-touch{
    cursor: pointer;
}

.edit{
    color: var(--orange, orange);
    cursor: pointer;

    &:hover{
        transform: translateY(-1px);
    }
}

.delete{
    color: var(--darkerOrange, red);
    cursor: pointer;

    &:hover{
        transform: translateY(-1px);
    }
}

.editInput{
    width: 60px;
    padding: 5px;
    border-radius: 10px;
}

.save-button{
    border: 1px solid var(--darkerOrange, orange);
    border-radius: 10px;
    padding: 7px 14px 7px 14px;
    background-color: var(--whiteText, white);
    color: var(--darkerOrange, orange);
    cursor: pointer;
    transition-property: background-color, color, font-weight;
    transition-duration: .5s;

    &:hover{
        background-color:var(--darkerOrange, orange);
        color: var(--whiteText, white);
    }
}
@media (min-width: 1px) and (max-width: 480px) {
    .books-table{
        padding: 20px 10px 10px 10px;
    }
}

@media (min-width: 481px) and (max-width: 900px){
    .books-table{
        padding: 20px 10px 10px 10px;
    }
}